@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  background: #191919;
  color: #f2ecff;
}
:root {
  --primary: #191919;
  --secondary: #444444;
  --trimary: #4f5960;
  --text: #f2ecff;
  --egg: #f6f0df;
  --green: #00c896;
}
.sick-bg {
  position: fixed;
  top: 0;
  z-index: -1;
}
